header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height:80px;
    position:fixed;
    width: 100%;
}
header > h1:nth-child(1){
    font-weight: 600;
}
.header_right{
    display: flex;
    position: absolute;
    right:0;
}
.header_right > h1{
    font-weight: 400;
    margin:0px 7px;
    padding:7px
}
.header_right > h1:hover{
    background-color:#eee;
    border-radius: 999px;
    transition: 0.5s;
}
#typing{
    z-index: 1;
    width:500px;
    /* background-color: yellow; */
}
#typing::after{
    content: '';
    height:8px;
    width:20px;
    border-right:2px solid black;
    animation:blink 0.5s infinite ease
}
@keyframes blink{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}