.projects{
    background-color: #ddd;
    min-height:calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.projects > h1{
    font-size: 50px;
}
.projects-section{
    margin-top: 50px;
    display: flex;
    width:80rem;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-around;
}