.card{
    background-color: white;
    margin-top: 10px;
    border:1px solid rgb(206, 206, 206);
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    box-shadow: 5px 5px 10px #bbb ;
    transform: scale(1.02);
}
.project_img{
    width:400px;
    height:200px;
    /* height:auto; */
    object-fit: cover;
}
.card-title{
    font-size:30px;
    font-weight:bold;
    text-align: center;
    color:#333
}
.card-footer{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 10px
}
.source{
    display: flex;
    gap: 10px;
    align-items: center;
}
.source > button, .card-footer > button{
    cursor: pointer;
    padding: 1px 10px;
    color:#fff;
    background-color: #333;
    border:none
}
.source > button:hover , .card-footer > button:hover{
    background-color: #555;
}
.codepen{
    width:75px;
}
